<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite ">
	<test name="Test1" parallel="tests">
		<classes>
			<class name="BasicAllUtils.BrokenImages" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="BasicAllUtils.ScreeshotDemo" />
		</classes>
	</test>
	<test name="Test3">
		<classes>
		<class name="BasicAllUtils.FileWritingReading" />
	</classes>
	</test>
</suite> <!-- Suite -->
